

.skip{
    position: absolute;
    top: -50px;
    left: 0;
    background: #ffcb05;
    color: #00274C;
    padding: 10px;}

.skip:focus {
    top: 20px;
    left: 10px; }

section {max-width: 100%; margin: auto}

article {max-width: 100%; margin: auto}

header { background-color: #00274c;
    position: relative;
    z-index: 99;
    color: white; }

  nav {
    background-color: #00274C;
    padding: 25px;
    text-align: left;
}

 nav li {display: inline;
  padding-left: 10px;
  padding-right: 20px;}

  nav a {
    color: white;
    font-weight: medium;
    text-decoration: none;
}

  nav a:hover {
    background-color: #ffcb05;
    color: #00274C;
    border-radius: 5px;
  }

  li.active a {
    color: #FFCB05;
}

  header h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 20px;
    padding-bottom: 20px;
    border: solid 4px #ffcb05;
  }

body { margin: 0;
font-size: 22px;
font-weight: 400;
line-height: 1.5;
text-align: left;
font-family: nunito, sans-serif;
}

  .logo {width: 5%;
    height: 5%;}

 .overview {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        background-image: url(../images/MCOMMONS-WinterSemester2025-42.jpg);
        height: 100%;
        text-align: center;
        padding: 5%;
    }

    .texthead {
        background: white;
        color: #00274C;
        font-size: 24px;
        padding: 10px 20px;
        text-align: center;
    }

    h2 {
        font-size: 32px;
        line-height: 1;
        font-family: 'Times New Roman', Times, serif;
        color: #00274C;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 10px;
    }


    .texthead li {
        font-size: 85%;
        list-style-type: none;
    }


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        padding: 5% 10%;
    }

    img {grid-column: 1/-1;
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
        padding-top: 20px;
        }

        h3 {padding: 10px 0;
            font-size: 26px;
            line-height: 1.5;
            font-family: 'Times New Roman', Times, serif;
            color: #00274C;
            text-decoration: underline #ffcb05;
            font-weight: bold; }

            footer {
                background-color: #00274C;
                color: white;
                padding-top: 10px;
                text-align: center;
            }

            footer > p {
                font-size: 18px;
                padding: 10px;
            }
            footer > p > a{
                color: white;
                text-decoration: underline;
            }